html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #fefefe;
}

main {
    max-width: 768px;
    margin: 0 auto;
}

.footer {
    padding: 16px;
    max-width: 768px;
    margin: 0 auto;
}

.footer__content {
	color: rgb(135, 136, 139);
}

.footer__content--top-link {
    position: fixed;
    color: white;
    bottom: 16px;
    right: 16px;
    padding: 8px 12px;
    background-color: black;
    display: block;
    border-radius: 8px;
}

h1 {
    padding: 16px;
}

section {
    padding: 16px;
}

.section {
    background-color: #dcdcdc;
    margin-bottom: 0;
}

.section_header {
    color:#0a51e9;
}

.section_image {
    max-width: 100%
}

.navigation {
    background: #0a51e9;
    position: sticky;
    top: 0;
}

.navigation__bar {
    padding: 16px;
}

.navigation__link {
    padding: 10px;
    margin: 10px;
    color:#fefefe
}

.page-header__heading {
    padding: 16px;
    margin: 0;
}

.czerwony {
    color: red;
}

#szkolenie {
    background-color: yellow;
    padding: 16px;
}

a {
    color: green;
}

section a {
    color: orange;
}

.my-article {
    color:hotpink;
    margin-bottom: 32px;
}

.my-article p {
    background: rgb(9, 128, 168);
    color: white;
    padding: 16px;
    margin-bottom: 32px;
}

.hobby {
    color: #5f13eb;
}