h1 {
    color:chocolate
}
h2 {
    color: #1460AA
}

body {
    background-color: #fefefe;
}

.czerwony {
    color: red;
}

#szkolenie {
    background-color: yellow;
}

a {
    color: green;
}

section a {
    color: orange;
}

.my-article {
    color:hotpink;
}

.my-article p {
    background: lightblue;
    color: white;
}

.about {
    color: #e90ab9
}